h1 {
	color:red;
	font-family:Arial;
}
h2 {
	color:green;
	font-family:Arial;
}
blockquote {
	font-family:serif;
	width:400px;
}
.flotar{
	float:left;
	margin:20px;
}
#texto{
	margin:35px;
	font-family:Arial;
	height:180px;
	width:700px;
}